<h2>Recommendations:<a href="#">Go to /recommended</a></h2>
<ul>
    <% Mediumlarge.recommendations.forEach(function(recommendation){  %>
      <% var rPost = posts.get(recommendation); %>
      <img src="<%= rPost.get('author').profile_image %>" class="img-circle">
      <a href="/#/post/<%= rPost.id %>">
        <b><%= rPost.escape('title') %></b>
        <em><%= rPost.escape('subtitle') %></em>
      </a>
      by <a href="#"><%= rPost.get('author').name %></a>
    <% }); %>
</ul>

<h2>Latest:<a href="#">Go to /latest</a></h2>
<ul>

<% var numPostsToDisplay = Mediumlarge.latestPosts.length; %>
<%  if (numPostsToDisplay > 5) numPostsToDisplay = 5; %>

<% for(var i=0; i < numPostsToDisplay; i++) { %>
    <% var post_id = Mediumlarge.latestPosts[i] %>
    <% var post = posts.get(post_id) %>

    <li>
      <img src="<%= post.get('author').profile_image %>" class="img-circle">
      <a href="/#/post/<%= post.id %>">
        <b><%= post.escape('title') %></b>
        <em><%= post.escape('subtitle') %></em>
      </a>
      by <a href="#"><%= post.get('author').name %></a>
    </li>
<% } %>
</ul>