<h1>Title: <%= post.escape('title') %> </h1>
<h2>Subtitle: <%= post.escape('subtitle') %> </h2>
<h3>Body: <%= post.escape('body') %> </h3>

Post written by: <%= post.get('author').name %>
<img src="<%= post.get('author').profile_image %>" class="img-circle">

<% if (post.get('author').is_current_user) { %>
  <button type="button" id="post-edit">Edit Post</button>
  <button type="button" id="post-delete">Delete Post!</button>
<% } %>