<h1> ALL THE COLLECTIONS! </h1>
<ul class="collections">
<% collections.forEach(function(collection){ %>
  <li>
    <a href="/#/collections/<%= collection.id %>"
      data-id="<%= collection.id %>"> 
        <%= collection.escape('name') %>
    </a> by <%= collection.get('owner').name %>
    <button type="submit"
      class="collection-follow-button"
      data-button-type="<%=  collection.get('already_following') ? 'unfollow' : 'follow' %>" 
      data-id="<%= collection.id %>"><%= collection.get('already_following') ? 'Unfollow' : 'Follow'  %></button>
  </li>
<% }); %>
</ul>