<h1><%= collection.escape('name') %></h1>
<h2><%= collection.escape('description') %></h2>

<% if (posts) { %>
  <h3>All the posts!</h3>
  <ul class="posts">
    <% posts.forEach(function(post){ %> 
      <li>
        <a href="/#/collections/<%= collection.id %>/<%= post.id %>"><%= post.escape('title') %></a> by <img src="<%= post.get('author').profile_image %>"> <%= post.get('author').name %>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <h3>Looks like there's nothing here, why don't you fix that?</h3>
<% } %>

<% if (collection.get('is_owner')) { %>
  <a href="/#/collections/<%= collection.id %>/edit">Edit Collection</a>
  <button id="collection-delete">Delete Collection</button>
<% } %>
