<%# TODO:implement placeholder text %>
<h1><%= form_title %></h1>

<form name="post-form-<%= form_type %>" 
  action="<%= form_action_url %>" 
  method="POST">

  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <% if form_type == "edit" %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input type="text" 
    name="post[title]" 
    placeholder="Title" 
    value="<%= post.title %>"/>
  <br>

  <input type="text" 
    name="post[subtitle]" 
    placeholder="Subtitle" 
    value="<%= post.subtitle %>"/>
  <br>
  
  <label for="collection">Collection</label>
  <select id="collection" name="post[collection_id]">
    <option value="nil">No Collection</option>
    <% collections.each do |collection| %>
      <option value="<%= collection.id %>"
        <%= "selected" if post.collection_id == collection.id %>
        >
        <%= collection.name %>
      </option>
    <% end %>
  </select><br>

  <textarea rows="10" cols="10" name="post[body]" placeholder="Body...">
    <%= post.body %>
  </textarea>
  <br>

  <input type="submit">
</form>

