<!DOCTYPE html>
<html>
<head>
  <title>Mediumlarge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <%= link_to "Posts", posts_url %>
  <%= link_to "Collections", collections_url %>
  <div id="user_nav"> 
    <% if current_user %>
      Welcome, <%= current_user.name %>!
      <%= link_to "Sign out!", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign In With Twitter", "/auth/twitter" %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>
  <%= yield %>

</body>
</html>
