<!DOCTYPE html>
<html>
<head>
  <title>Mediumlarge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user-nav">
   <% if current_user %>
    Welcome, <%= current_user.name %>!
    <%= link_to "Sign out!", session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In With Twitter", "/auth/twitter" %>
  <% end %>
</div>

<div id="sidebar">
  <%= link_to "Home-Posts", "/" %>
  <%= link_to "Posts JSON", posts_url %>
  <%= link_to "Collections JSON", collections_url %>
  <a href="/#/collections">Collection View</a>
</div>
<div id="content">
  <h1>Content</h1>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%# yield %>
</div>

</body>
</html>
